<!--The content below is only a placeholder and can be replaced.-->
<body class="main" >
  <div>
  <h1>
    {{title}}
    <p>Explore world fashion</p>
  </h1>
  </div>
<div class="collapsibles">
  <ul materialize="collapsible" style="opacity: 0%;" class="collapsible" data-collapsible="accordion">
  <li>
    <div class="collapsible-header"><i class="material-icons">filter_drama</i>American</div>
    <div class="collapsible-body">
      <p>Street</p>
    </div>
    <div class="collapsible-body"><p>Street</p></div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons">place</i>Dutch</div>
    <div class="collapsible-body"><p>Street</p></div>
    <div class="collapsible-body"><p>Street</p></div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons">whatshot</i>British</div>
    <div class="collapsible-body"><p>Street</p></div>
    <div class="collapsible-body"><p>Street</p></div>
  </li>
  </ul>
</div>
  <ul class="links">
    <li>
      <h2><a target="_blank" href="https://www.reddit.com/r/malefashionadvice/">Reddit: Male Fashion Advice</a></h2>
    </li>
    <li>
      <h2><a target="_blank" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
    </li>
    <li>
      <h2><a target="_blank" href="https://blog.angular.io/">Angular blog</a></h2>
    </li>
  </ul>
</body>