body {
    background-size: cover;
}

.collapsibles {
    width: 50em;
}
.collapsible-body, h1 {
    color: white;
    text-align: center;
}

h1, .links {
    color: white;
}

h1 {
    background-color: black;
}

.main {
    height: 100%;
}

li.collapsibles {
    background-color: black;
    height: 2%;
}
div.collapsible-header {
    background-color: black;
    color: white;
}

a {
    font-size: 16px;
}

